body {
	margin: 0;
	border: 0;
	padding: 0;
	text-align: center;
}

div {
	outline-style: none;
	outline-width: thin;
	display: inline-block;
}

#container {
	width: 480px;
	height: 480px;
	margin-top: 20px;
	border: 0;
	padding: 0;
}

.pixel {
	height: 30px;
	width: 30px;
	border: 0;
	margin: 0;
	padding: 0;
	background-color: #aaafff;

  /* Remove bottom spacing */
  vertical-align: top;
}

.black {
  background-color: black;
}
